PySDL2
PyOpenGL
signalslot >= 0.2.0
ifaddr
appdirs
bcrypt
cffi
cryptography
cx-Freeze; sys_platform == 'win32'
pywin32; sys_platform == 'win32'
shiv; sys_platform == 'linux'
# packaging script on linux expects pipenv
pipenv; sys_platform == 'linux'
idna
netifaces
paramiko
pycparser
PyNaCl
six
imgui[sdl2]
